flows.json
[
    {
        "id": "b152a914653d9fce",
        "type": "tab",
        "label": "CC100 IO",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7d5684a84ccc949",
        "type": "group",
        "z": "b152a914653d9fce",
        "name": "Digital Outputs",
        "style": {
            "stroke": "#ffbfbf",
            "label": true
        },
        "nodes": [
            "0853acf7a7937574",
            "226412df7ac5c916",
            "1be71dbdeffaf843",
            "221a0b6124dadd4e",
            "5974ef7cb577d85e",
            "7fb4eca8049836f3",
            "708ebbcbec05d880",
            "4244685ea1845ed5"
        ],
        "x": 74,
        "y": 39,
        "w": 432,
        "h": 262
    },
    {
        "id": "62e5394fb5800af5",
        "type": "group",
        "z": "b152a914653d9fce",
        "name": "Digital Inputs",
        "style": {
            "stroke": "#ffefbf",
            "label": true
        },
        "nodes": [
            "f99a019ca4d9352c",
            "999db3407f72761c",
            "8175462b4fa9b30b",
            "798239ef059cf49e",
            "c66e229dc012ec53",
            "0153af9e91ab4d0a",
            "d860f906f7f27c76",
            "f34be5144eb7b750",
            "344706568d3ab376",
            "0a2f4e4a68109af0"
        ],
        "x": 74,
        "y": 339,
        "w": 692,
        "h": 362
    },
    {
        "id": "c0cbca6332ca55de",
        "type": "group",
        "z": "b152a914653d9fce",
        "name": "Analog",
        "style": {
            "stroke": "#0070c0",
            "label": true
        },
        "nodes": [
            "41e12002af4d5858",
            "857fea13ee44f903",
            "inject_node",
            "function_node",
            "60fc7bd55736239d",
            "017787d8e0575dd5",
            "slider-node",
            "941f10dd641cf7cc",
            "5767a4ac351254ad",
            "70a519966e26fa8f",
            "09d404ad7f5d0d42",
            "fbe89259b463bf8a",
            "0c1f9d5cb83ce37e",
            "628e9996ad852f30",
            "8bc47b9db61b13f5"
        ],
        "x": 74,
        "y": 739,
        "w": 932,
        "h": 582
    },
    {
        "id": "0853acf7a7937574",
        "type": "CC100-Set-DO1",
        "z": "b152a914653d9fce",
        "g": "d7d5684a84ccc949",
        "name": "",
        "x": 400,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "226412df7ac5c916",
        "type": "CC100-Set-DO2",
        "z": "b152a914653d9fce",
        "g": "d7d5684a84ccc949",
        "name": "",
        "x": 400,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1be71dbdeffaf843",
        "type": "ui_switch",
        "z": "b152a914653d9fce",
        "g": "d7d5684a84ccc949",
        "name": "",
        "label": "DO1 Switch",
        "tooltip": "",
        "group": "4f3624dbab2779ab",
        "order": 23,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "0853acf7a7937574"
            ]
        ]
    },
    {
        "id": "221a0b6124dadd4e",
        "type": "ui_switch",
        "z": "b152a914653d9fce",
        "g": "d7d5684a84ccc949",
        "name": "",
        "label": "DO2 Switch",
        "tooltip": "",
        "group": "4f3624dbab2779ab",
        "order": 24,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "226412df7ac5c916"
            ]
        ]
    },
    {
        "id": "5974ef7cb577d85e",
        "type": "ui_switch",
        "z": "b152a914653d9fce",
        "g": "d7d5684a84ccc949",
        "name": "",
        "label": "DO3 Switch",
        "tooltip": "",
        "group": "4f3624dbab2779ab",
        "order": 27,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "708ebbcbec05d880"
            ]
        ]
    },
    {
        "id": "7fb4eca8049836f3",
        "type": "ui_switch",
        "z": "b152a914653d9fce",
        "g": "d7d5684a84ccc949",
        "name": "",
        "label": "DO4 Switch",
        "tooltip": "",
        "group": "4f3624dbab2779ab",
        "order": 28,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "4244685ea1845ed5"
            ]
        ]
    },
    {
        "id": "708ebbcbec05d880",
        "type": "CC100-Set-DO3",
        "z": "b152a914653d9fce",
        "g": "d7d5684a84ccc949",
        "name": "",
        "x": 400,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "4244685ea1845ed5",
        "type": "CC100-Set-DO4",
        "z": "b152a914653d9fce",
        "g": "d7d5684a84ccc949",
        "name": "",
        "x": 400,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "41e12002af4d5858",
        "type": "CC100-Read-PT1",
        "z": "b152a914653d9fce",
        "g": "c0cbca6332ca55de",
        "name": "",
        "x": 470,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "857fea13ee44f903",
        "type": "inject",
        "z": "b152a914653d9fce",
        "g": "c0cbca6332ca55de",
        "name": "1s Update",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 780,
        "wires": [
            [
                "41e12002af4d5858",
                "941f10dd641cf7cc",
                "0c1f9d5cb83ce37e",
                "628e9996ad852f30"
            ]
        ]
    },
    {
        "id": "f99a019ca4d9352c",
        "type": "CC100-Read-DI",
        "z": "b152a914653d9fce",
        "g": "62e5394fb5800af5",
        "name": "",
        "x": 420,
        "y": 540,
        "wires": [
            [
                "8175462b4fa9b30b"
            ],
            [
                "d860f906f7f27c76"
            ],
            [
                "798239ef059cf49e"
            ],
            [
                "f34be5144eb7b750"
            ],
            [
                "c66e229dc012ec53"
            ],
            [
                "344706568d3ab376"
            ],
            [
                "0153af9e91ab4d0a"
            ],
            [
                "0a2f4e4a68109af0"
            ],
            [],
            []
        ]
    },
    {
        "id": "999db3407f72761c",
        "type": "inject",
        "z": "b152a914653d9fce",
        "g": "62e5394fb5800af5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "f99a019ca4d9352c"
            ]
        ]
    },
    {
        "id": "8175462b4fa9b30b",
        "type": "ui_led2",
        "z": "b152a914653d9fce",
        "g": "62e5394fb5800af5",
        "order": 1,
        "group": "4f3624dbab2779ab",
        "width": 2,
        "height": 1,
        "label": "DI1",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "DI 1",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "798239ef059cf49e",
        "type": "ui_led2",
        "z": "b152a914653d9fce",
        "g": "62e5394fb5800af5",
        "order": 3,
        "group": "4f3624dbab2779ab",
        "width": 2,
        "height": 1,
        "label": "DI3",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "DI 3",
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "c66e229dc012ec53",
        "type": "ui_led2",
        "z": "b152a914653d9fce",
        "g": "62e5394fb5800af5",
        "order": 7,
        "group": "4f3624dbab2779ab",
        "width": 2,
        "height": 1,
        "label": "DI5",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "DI 5",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "0153af9e91ab4d0a",
        "type": "ui_led2",
        "z": "b152a914653d9fce",
        "g": "62e5394fb5800af5",
        "order": 9,
        "group": "4f3624dbab2779ab",
        "width": 2,
        "height": 1,
        "label": "DI7",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "DI 7",
        "x": 690,
        "y": 620,
        "wires": []
    },
    {
        "id": "d860f906f7f27c76",
        "type": "ui_led2",
        "z": "b152a914653d9fce",
        "g": "62e5394fb5800af5",
        "order": 2,
        "group": "4f3624dbab2779ab",
        "width": 2,
        "height": 1,
        "label": "DI2",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "DI 2",
        "x": 690,
        "y": 420,
        "wires": []
    },
    {
        "id": "f34be5144eb7b750",
        "type": "ui_led2",
        "z": "b152a914653d9fce",
        "g": "62e5394fb5800af5",
        "order": 4,
        "group": "4f3624dbab2779ab",
        "width": 2,
        "height": 1,
        "label": "DI4",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "DI 4",
        "x": 690,
        "y": 500,
        "wires": []
    },
    {
        "id": "344706568d3ab376",
        "type": "ui_led2",
        "z": "b152a914653d9fce",
        "g": "62e5394fb5800af5",
        "order": 8,
        "group": "4f3624dbab2779ab",
        "width": 2,
        "height": 1,
        "label": "DI6",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "DI 6",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "0a2f4e4a68109af0",
        "type": "ui_led2",
        "z": "b152a914653d9fce",
        "g": "62e5394fb5800af5",
        "order": 10,
        "group": "4f3624dbab2779ab",
        "width": 2,
        "height": 1,
        "label": "DI8",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "DI 8",
        "x": 690,
        "y": 660,
        "wires": []
    },
    {
        "id": "686d043b8e3c608b",
        "type": "ui_media",
        "z": "b152a914653d9fce",
        "group": "4f3624dbab2779ab",
        "name": "CC100 Image",
        "width": 8,
        "height": 8,
        "order": 12,
        "category": "wago",
        "file": "cc100.jpg",
        "layout": "center",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 620,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "inject_node",
        "type": "inject",
        "z": "b152a914653d9fce",
        "g": "c0cbca6332ca55de",
        "name": "Start Simulation",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 210,
        "y": 860,
        "wires": [
            [
                "function_node",
                "60fc7bd55736239d"
            ]
        ]
    },
    {
        "id": "function_node",
        "type": "function",
        "z": "b152a914653d9fce",
        "g": "c0cbca6332ca55de",
        "name": "Simulate Temperature",
        "func": "// Simulate a temperature input that varies between 50°F and 90°F.\nlet lastTemperature = context.get(\"lastTemperature\") || 70;\nlet variation = (Math.random() * 4) - 2;\nlet newTemperature = Math.min(Math.max(lastTemperature + variation, 50), 90);\ncontext.set(\"lastTemperature\", newTemperature);\nmsg.topic = \"PT1000-1\"\nmsg.payload = newTemperature.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 840,
        "wires": [
            [
                "8bc47b9db61b13f5"
            ]
        ]
    },
    {
        "id": "60fc7bd55736239d",
        "type": "function",
        "z": "b152a914653d9fce",
        "g": "c0cbca6332ca55de",
        "name": "Simulate Temperature",
        "func": "// Simulate a temperature input that varies between 50°F and 90°F.\nlet lastTemperature = context.get(\"lastTemperature\") || 70;\nlet variation = (Math.random() * 4) - 2;\nlet newTemperature = Math.min(Math.max(lastTemperature + variation, 50), 90);\ncontext.set(\"lastTemperature\", newTemperature);\nmsg.topic = \"PT1000-2\"\nmsg.payload = newTemperature.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 960,
        "wires": [
            [
                "8bc47b9db61b13f5"
            ]
        ]
    },
    {
        "id": "017787d8e0575dd5",
        "type": "ui_chart",
        "z": "b152a914653d9fce",
        "g": "c0cbca6332ca55de",
        "name": "AI Chart",
        "group": "4f3624dbab2779ab",
        "order": 19,
        "width": 12,
        "height": 7,
        "label": "Analog Inputs",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#6dc800",
            "#ff8522",
            "#0000ff",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "slider-node",
        "type": "ui_slider",
        "z": "b152a914653d9fce",
        "g": "c0cbca6332ca55de",
        "name": "AO1 Slider",
        "label": "AO1",
        "tooltip": "",
        "group": "4f3624dbab2779ab",
        "order": 33,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "slider_value",
        "topicType": "str",
        "min": 0,
        "max": 10,
        "step": ".1",
        "className": "",
        "x": 230,
        "y": 1220,
        "wires": [
            [
                "70a519966e26fa8f"
            ]
        ]
    },
    {
        "id": "941f10dd641cf7cc",
        "type": "CC100-Read-AI1",
        "z": "b152a914653d9fce",
        "g": "c0cbca6332ca55de",
        "name": "",
        "x": 470,
        "y": 1040,
        "wires": [
            [
                "5767a4ac351254ad",
                "017787d8e0575dd5"
            ]
        ]
    },
    {
        "id": "5767a4ac351254ad",
        "type": "debug",
        "z": "b152a914653d9fce",
        "g": "c0cbca6332ca55de",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 1160,
        "wires": []
    },
    {
        "id": "70a519966e26fa8f",
        "type": "CC100-Set-AO1",
        "z": "b152a914653d9fce",
        "g": "c0cbca6332ca55de",
        "name": "",
        "x": 460,
        "y": 1220,
        "wires": [
            [
                "5767a4ac351254ad"
            ]
        ]
    },
    {
        "id": "09d404ad7f5d0d42",
        "type": "ui_slider",
        "z": "b152a914653d9fce",
        "g": "c0cbca6332ca55de",
        "name": "A02 Slider",
        "label": "AO2",
        "tooltip": "",
        "group": "4f3624dbab2779ab",
        "order": 34,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "slider_value",
        "topicType": "str",
        "min": 0,
        "max": 10,
        "step": ".1",
        "className": "",
        "x": 250,
        "y": 1280,
        "wires": [
            [
                "fbe89259b463bf8a"
            ]
        ]
    },
    {
        "id": "fbe89259b463bf8a",
        "type": "CC100-Set-AO2",
        "z": "b152a914653d9fce",
        "g": "c0cbca6332ca55de",
        "name": "",
        "x": 460,
        "y": 1280,
        "wires": [
            [
                "5767a4ac351254ad"
            ]
        ]
    },
    {
        "id": "0c1f9d5cb83ce37e",
        "type": "CC100-Read-AI2",
        "z": "b152a914653d9fce",
        "g": "c0cbca6332ca55de",
        "name": "",
        "x": 470,
        "y": 1120,
        "wires": [
            [
                "5767a4ac351254ad",
                "017787d8e0575dd5"
            ]
        ]
    },
    {
        "id": "628e9996ad852f30",
        "type": "CC100-Read-PT2",
        "z": "b152a914653d9fce",
        "g": "c0cbca6332ca55de",
        "name": "",
        "x": 470,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "43a6fee56e913618",
        "type": "ui_media",
        "z": "b152a914653d9fce",
        "group": "4f3624dbab2779ab",
        "name": "Output Icon",
        "width": 1,
        "height": 1,
        "order": 22,
        "category": "wago",
        "file": "output_24dp_000000_FILL0_wght400_GRAD0_opsz24.png",
        "layout": "center",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 610,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8bc47b9db61b13f5",
        "type": "ui_chart",
        "z": "b152a914653d9fce",
        "g": "c0cbca6332ca55de",
        "name": "PT1000  Chart",
        "group": "4f3624dbab2779ab",
        "order": 6,
        "width": 12,
        "height": 7,
        "label": "Temp. (°F)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "50",
        "ymax": "90",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#6dc800",
            "#ff8726",
            "#0000ff",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "9d166d6e1d96e0d3",
        "type": "ui_spacer",
        "z": "b152a914653d9fce",
        "name": "spacer",
        "group": "935b17bacb02df81",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "f425af94aa0b3d76",
        "type": "ui_spacer",
        "z": "b152a914653d9fce",
        "name": "spacer",
        "group": "4f3624dbab2779ab",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "22af5a7446b4c11c",
        "type": "ui_spacer",
        "z": "b152a914653d9fce",
        "name": "spacer",
        "group": "4f3624dbab2779ab",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "d71c1c36fdf497e8",
        "type": "ui_spacer",
        "z": "b152a914653d9fce",
        "name": "spacer",
        "group": "4f3624dbab2779ab",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "5881f6a3e0c0686f",
        "type": "ui_spacer",
        "z": "b152a914653d9fce",
        "name": "spacer",
        "group": "4f3624dbab2779ab",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "c6d72eead71fa5a4",
        "type": "ui_spacer",
        "z": "b152a914653d9fce",
        "name": "spacer",
        "group": "4f3624dbab2779ab",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "1807fb1e54d90249",
        "type": "ui_spacer",
        "z": "b152a914653d9fce",
        "name": "spacer",
        "group": "4f3624dbab2779ab",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "0cbf5a5a4d1f4097",
        "type": "ui_spacer",
        "z": "b152a914653d9fce",
        "name": "spacer",
        "group": "4f3624dbab2779ab",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "cd9f702b7263bb06",
        "type": "ui_spacer",
        "z": "b152a914653d9fce",
        "name": "spacer",
        "group": "4f3624dbab2779ab",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "3ac3f14293e74da5",
        "type": "ui_spacer",
        "z": "b152a914653d9fce",
        "name": "spacer",
        "group": "4f3624dbab2779ab",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "12da24cb00021ffd",
        "type": "ui_spacer",
        "z": "b152a914653d9fce",
        "name": "spacer",
        "group": "4f3624dbab2779ab",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "5191b38849bb690b",
        "type": "ui_spacer",
        "z": "b152a914653d9fce",
        "name": "spacer",
        "group": "4f3624dbab2779ab",
        "order": 25,
        "width": 2,
        "height": 1
    },
    {
        "id": "7f831e16c24f62e8",
        "type": "ui_spacer",
        "z": "b152a914653d9fce",
        "name": "spacer",
        "group": "4f3624dbab2779ab",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "bb2067480e9ba957",
        "type": "ui_spacer",
        "z": "b152a914653d9fce",
        "name": "spacer",
        "group": "4f3624dbab2779ab",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "2ab77d64d84edc5e",
        "type": "ui_spacer",
        "z": "b152a914653d9fce",
        "name": "spacer",
        "group": "4f3624dbab2779ab",
        "order": 30,
        "width": 9,
        "height": 1
    },
    {
        "id": "9f2e83cf3d7631ca",
        "type": "ui_spacer",
        "z": "b152a914653d9fce",
        "name": "spacer",
        "group": "4f3624dbab2779ab",
        "order": 31,
        "width": 9,
        "height": 1
    },
    {
        "id": "95324c844a72f13a",
        "type": "ui_spacer",
        "z": "b152a914653d9fce",
        "name": "spacer",
        "group": "4f3624dbab2779ab",
        "order": 32,
        "width": 9,
        "height": 1
    },
    {
        "id": "4f3624dbab2779ab",
        "type": "ui_group",
        "name": "CC100 IO",
        "tab": "380af79517fe76fd",
        "order": 1,
        "disp": true,
        "width": 21,
        "collapse": false,
        "className": ""
    },
    {
        "id": "935b17bacb02df81",
        "type": "ui_group",
        "name": "Rankings",
        "tab": "070d70334bb1efc3",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "380af79517fe76fd",
        "type": "ui_tab",
        "name": "IO Control",
        "icon": "mi-videogame_asset",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "070d70334bb1efc3",
        "type": "ui_tab",
        "name": "CFB - REST API",
        "icon": "mi-sports_football",
        "disabled": false,
        "hidden": false
    }
]